<h1>ホーム画面</h1>

<%= link_to '書籍一覧', books_url %>
<br>
<%= link_to '自分のユーザー情報を変更', '/users/edit' %>
<br>
<%= link_to 'ユーザー一覧', users_path %>
<br>
<%= button_to "ログアウト", '/users/sign_out', method: 'delete' %>
